<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Simple example of second view
                    {{title}}
                </h1>
                <small>Configure in app.js as index.minor state.</small>
            </div>
        </div>
    </div>
</div>

<div class="row" id="sortable-view">
    <div class="col-lg-6 connectPanels" ng-model="items" ui-sortable="sortableOptions">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Example with fullscreen option</h5>
                <div ibox-tools-full-screen></div>
            </div>
            <div class="ibox-content">

                <div id="gridContainer" dx-data-grid="dataGridOptions"></div>

            </div>
        </div>
    </div>

    <div class="col-lg-6 connectPanels" ng-model="items" ui-sortable="sortableOptions">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Example with fullscreen option</h5>
                <div ibox-tools-full-screen></div>
            </div>
            <div class="ibox-content">

                <div id="gridContainer1" dx-data-grid="dataGridOptions"></div>

            </div>
        </div>
    </div>
</div>